<ion-content no-bounce class="map no-scroll">
  <div style="height: 100%;" id="map_canvas">
    <ion-spinner *ngIf="loading"></ion-spinner>
    <div id="place" [@heroState]="placeState">
      <ion-card *ngIf="place">
        <ion-item (click)="toggleFoldedState()">
          <ion-icon name="md-restaurant" item-left large></ion-icon>
          <h2 [innerHTML]="place.title"></h2>

          <ion-badge name="distance" color="dark">{{distance(place.loc, 'K')}} km</ion-badge>
          
          <ion-icon name="star" small></ion-icon>
          <ion-icon name="star" small></ion-icon>
          <ion-icon name="star" small></ion-icon>
          <ion-icon name="star-half" small></ion-icon>
          <ion-icon name="star-outline" small></ion-icon>

          <ion-icon *ngIf="placeState=='unfolded'" name="ios-arrow-dropdown" item-right large color="medium"></ion-icon>
          <ion-icon *ngIf="placeState!='unfolded'" name="ios-arrow-dropup" item-right large color="medium"></ion-icon>
        </ion-item>
        <ion-card-content *ngIf="placeState=='unfolded'">
          <p>{{place.description}}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>