div.scroll-content {
	padding: 0 !important;
}

.nav-decor {
    background-color: transparent !important;
}

#map_canvas {
	background-image: url('/assets/images/background.png');
	ion-spinner {
		position: absolute;
		right: 20px;
		top: 20px;
	}

	#place {
		position: absolute;
		width: 100%;
		bottom: 0px;

		&.unfolded {
			top: 20px;
		}

		ion-card {
			height: calc(100% - 24px);
			border-radius: 5px;

			ion-icon[name="star"],
			ion-icon[name="star-half"],
			ion-icon[name="star-outline"] {
				font-size: 1.5rem;
			}

			ion-badge[name="distance"] {
				margin-right: 1rem;
			}

			ion-card-content {
				border-top: 1px solid #f4f4f4;
				padding-top: 13px;
			}
		}
	}
}